<div id="edit-provincia" class="popup">

    <div class="container">

        <form action="">
            <div class="row">
                <div class="col-6">
                <input type="text"  [(ngModel)]="provincia.nome" name="nome"  class="form-control">
                </div>

                <div class="col-6">
                    <input type="text"  [(ngModel)]="provincia.sigla" name="sigla"  class="form-control">
                </div>
            
            

            

            
            <div class="mt-3 col-12">
                <button class="btn btn-dark" (click)="editProvincia(provincia)">
                    Aggiungi
                </button>
            </div>
        </div>
    </form>
</div>
    
</div>